<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    {{ title }}!
  </h1>
 <nav>
   <a routerLink-"/dashboard"> Dashboard  </a>
   <a routerLink="/heros"> Heroes </a>  
   <!-- this is how to set up a link. notice the attribute was set to / and the pathname that we gave to the component 
   that we wish to be viewable when this link is clicked.  -->
 </nav>
<router-outlet></router-outlet> 
<!-- router outlet tells the componenet where to display the routed views. this beccame avaiable b/c the app router
module that we made, we exported the RouterModule  -->
<app-messages></app-messages>